set scrolloff=3
set showmode
set showcmd
set commentary
set hlsearch
set incsearch
set ignorecase
set smartcase
set ideajoin
set ideamarks
set surround
set nerdtree
set which-key
set textobj-entire
set peekaboo
set quickscope
set multicursor
set highlightedyank
set functiontextobj
set clipboard+=unnamed
set clipboard+=unnamedplus

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

noremap \ ,
let mapleader = ","

" make Y behave consistently with D and C
noremap Y y$

" use enter in normal mode to insert newline
nnoremap <CR> o<Esc>k

" use ctrl + hjkl to move between splits
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

" use alt + hjkl to move between splits
nnoremap <M-J> <C-W><C-J>
nnoremap <M-K> <C-W><C-K>
nnoremap <M-L> <C-W><C-L>
nnoremap <M-H> <C-W><C-H>

map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

map <Leader>n :nohl<cr>

map <Leader>e <Action>(ShowErrorDescription)

nmap zC :action CollapseRegionRecursively<CR>
nmap zO :action ExpandRegionRecursively<CR>

nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)
